<h1>User View Page for:</h1>
<h2><%= User.find(@post.first.user).email%></h2>
<% @post.each do |x| %>
  <div style="border-radius: 25px;
    border: 6px solid grey;
    padding: 20px;">
    <h3><%= x.description %></h3>
    <%= image_tag(x.image.url(:medium)) %>
    <br>
    <%= link_to User.find(x.user).email, '/user/' + x.user%>
  </div>
  <br>
<% end %>
